@model IEnumerable<WebApplication1.Models.project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Index</h2>
    <div style="float:right; display:inline-block">
        <div class="glyphicon glyphicon-plus addNew gi-2x" data-type="Project"></div>
    </div>
</div>
<table class="table table-striped table-hover" data-type="Project">
    <tr class="success">
        <th>
            Project name
        </th>
        <th>
            Project manager
        </th>
        <th>
            Client
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="active" data-id=@item.project_id>
            <td>
                @Html.DisplayFor(modelItem => item.project_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.client_name)
            </td>
        </tr>
    }

</table>
