@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">ERP Solutions - Anic Software</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>My account</h2>
        <p>
            So what you are an admin? You have an account too..
        </p>
        <p><div class="btn btn-success account"> See Account </div></p>
    </div>
    <div class="col-md-4">
        <h2>List </h2>
        <p>Wanna know everything? Here are all the accounts!</p>
        <p><div class="btn btn-success index" data-type="Account">Accounts</div></p>
    </div>
</div>

@{
    ViewBag.Title = "Home Page";
}

@*<p>
        New employee? Let's make him part of the family!
    </p>*@
