@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">ERP Solutions - Anic Software</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Add account</h2>
        <p>
            New employee? Let's make him part of the family!
        </p>
        <p><div class="btn btn-default">@Html.ActionLink("Add Account", "Register", "Account", routeValues: null, htmlAttributes: new { title = "New account" })</div></p>
    </div>
    <div class="col-md-4">
        <h2>Delete account </h2>
        <p>Resignation? Nothing you can do..</p>
        <p><div class="btn btn-default">@Html.ActionLink("Delete Account", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Delete account" })</div></p>
    </div>
    <p></p>
    <p></p>
    <p></p>
</div>