@model IEnumerable<WebApplication1.Models.client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Index</h2>
    <div style="float:right; display:inline-block">
        <div class="glyphicon glyphicon-plus addNew gi-2x" data-type="Client"></div>
    </div>
</div>
<table class="table table-striped table-hover click" data-type="Client">
    <tr class="success">
        <th>
            Client name
        </th>
        <th>
            Contact
        </th>
        <th>
            Sales employee
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="active" data-id=@item.client_id>
            <td>
                @Html.DisplayFor(modelItem => item.client_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.last_name)
            </td>
        </tr>
    }

</table>
